/* You can add global styles to this file, and also import other style files */
/*
body > .grid {
	height: 100%;
}
*/
.full-height {
	height:100%;
}
#navbar {
	font-size:1.5rem;
}
#navbar .item {
	padding-top:0.75rem;
	padding-bottom:0.75rem;
	padding-left:0.75rem;
	padding-right:0.75rem;
}
#navbar .item .logo {
	margin-top:0rem;
	margin-bottom:0rem;
	width:2.25rem;
}
#graphtv_logo {
	margin-right:0.75rem;
}
#github_logo {
	margin-left:0.75rem;
}
.result {
	padding-top:0.35rem !important;
}
.result .content .description .column {
	padding-top:0.25rem !important;
	padding-bottom:0.5rem !important;
}
#chart_row {
}
.page_title {
	font-size:3rem;
	margin:0rem 0rem 0rem 0rem;
}
.chart_show_info {
	font-size:1rem;
	display:inline;
}
#chart_page {
	margin-top:0rem;
}
#chart_show_year {
	text-align:right;
	padding-right:0.5rem;
}
#chart_show_rating {
	text-align:left;
	padding-left:0.5rem;
}
#chart_scale_tip {
	text-align:right;
	padding-right:0.75rem;
}
#chart_scale_tip a:hover {
	cursor:pointer;
}
#about_page {
	margin-top:0rem;
	font-size:18px;
}
#about_page h2 {
	font-size:26px;
}
#about_page .page_title {
	text-align:center;
}
#about_page p {
	padding-left:2rem !important;
}
#about_page .list {
	padding-left:4rem;
}
#about_page #tips_list {
	padding-left:2rem;
}
#popular_page {
	margin-top:0rem;
}
