/* You can add global styles to this file, and also import other style files */
/*
body > .grid {
	height: 100%;
}
*/
.full-height {
	height:100%;
}
#search_column {
	max-width: 450px;
}
#navbar {
	font-size:1.5rem;
}
#navbar .item {
	padding-top:0.75rem;
	padding-bottom:0.75rem;
	padding-left:0.75rem;
	padding-right:0.75rem;
}
#navbar .item .logo {
	margin-top:0rem;
	margin-bottom:0rem;
	width:2.25rem;
}
#graphtv_logo {
	margin-right:0.75rem;
}
#github_logo {
	margin-left:0.75rem;
}
.result {
	padding-top:0.35rem !important;
}
.result .content .description .column {
	padding-top:0.25rem !important;
	padding-bottom:0.5rem !important;
}
